@page "/tabs"

<PageTitle>Tabs</PageTitle>

<h1>Hello, tabs!</h1>

<div style="max-width:200px;">
    <FluentTabs>
        <FluentTab Label="Tab 1">
            <p>Tab 1 content</p>
        </FluentTab>
        <FluentTab Label="Tab 2">
            <p>Tab 2 content</p>
        </FluentTab>
        <FluentTab Label="Tab 3">
            <p>Tab 3 content</p>
        </FluentTab>
        <FluentTab Label="Tab 4">
            <p>Tab 4 content</p>
        </FluentTab>
        <FluentTab Label="Tab 5">
            <p>Tab 5 content</p>
        </FluentTab>
        <FluentTab Label="Tab 6">
            <p>Tab 6 content</p>
        </FluentTab>
    </FluentTabs>
</div>


@code {

}
